a, p, li, h1{
    font-family:"Open sans", sans-serif;
}

.diseño-de-navbar{
    background-color: #c9e18a;
}

li{
    color: #004434;
}

.highlight-text {
    color: #f1fcb8; 
}

.diseño-de-navbar{
    background-color: #c9e18a;
}

li{
    color: #004434;
}

.brand-title {
    color: #4a632d;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-links a {
    text-decoration: none;
    color: #2b3a1a;
    font-size: 1.1rem;
}




@media (min-width: 768px) {
  .container bg-gradient{
    background: linear-gradient(to right, #4facfe, #00f2fe);
  }
}



.hero-section{
    height: 400px;
    background-image: url(../IMG/Collage\ final\ con\ opacidad\ .png); 
    background-size: cover;     
    background-position: center; 
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
}

   
.hero-title {
    font-size: calc(1.8rem + 1vw); 
    color: #fafafa; 
    line-height: 1.2;
    
}

.btn-login {
    background-color: #2a5a2d;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    letter-spacing: 0.5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    
}

.btn-login:hover {
    background-color: #324d16;
}

.btn-signup {
    background-color: #ffffff;
    color: #1a2c06;
    border: 1px solid #cccccc;
    font-size: 1rem;
    letter-spacing: 0.5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05)
    
}

.btn-signup:hover {
    background-color: #f0f5e9;
    color: #557233;
}

.section-title {
    font-size: 2rem;
    color: #223310;
}

.steps-title {
    font-size: 1.1rem;
    color: #1a2c06;
}

.small-text {
    font-size: 0.85rem;
    line-height: 1.4;
}

.icon-wrapper {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #83a251;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7faf0;
}

.icon-wrapper i {
    color: #83a251;
}

.footer-color{
    background-color: #e7f5c3;
}