a, p, li, h1{
    font-family:"Open sans", sans-serif;
}

.diseño-de-navbar{
    background-color: #c9e18a;
}

li{
    color: #004434;
}

body{
    background-color:#f8f4e6;
}

.logo_rewear{
    width: 80px;
}

.card-btn-container {
  position: absolute;
  bottom: -40px;             
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;    
  z-index: 10;                
}

.btn-return-post-sm {
  background-color: #645327; 
  color: #ffffff;            
  font-weight: bold;         
  padding: 6px 24px;   
  border-radius: 50px;  
  font-size: 0.85rem;         
  text-decoration: none;     
  display: inline-block;     
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}