a, p, li, h1{
    font-family:"Open sans", sans-serif;
}

.diseño-de-navbar{
    background-color: #c9e18a;
}

li{
    color: #004434;
}

body{
    background-color:#f8f4e6;
}

#success-alert.alert-custom {
  background-color: #adc570;
  color: #ffffff; 
  border: none;
  font-weight: bold;
}



#success-alert.alert-custom .btn-close {
  filter: invert(1); 
}







