a, p, li, h1{
    font-family:"Open sans", sans-serif;
}

.diseño-de-navbar{
    background-color: #00403A;
    height: 100px;
}

.navbar-nav .nav-link {
    transition: all 0.2s ease-in-out;
    display: inline-block;
    color: #85ad65;
}

.navbar-nav .nav-link:hover {
    font-size: 1.08rem; 
    color: #A4F002;     
    font-weight: bold;
}

li{
    color: #004434;
}

.logo_rewear{
    width: 120px;
}

body {
      background-color: #f8f4e6;
    }
    .text-rewear-dark {
      color: #1b4332;
    }
    .btn-rewear-submit {
      background-color: #1b4332;
      color: #ffffff;
      transition: all 0.2s ease-in-out;
    }
    .btn-rewear-submit:hover {
      background-color: #2d6a4f;
      color: #ffffff;
      transform: translateY(-2px);
    }



    
    .btn-back-custom {
       background-color: #ffffff;
       border-color: 2px solid #1b4332;
       color: #1b4332; 
      transition: all 0.2s ease-in-out;
    }

   .btn-back-custom:hover {
     background-color: #1b4332;
     color: #ffffff;
     border-color: #1b4332;
     transform: translateX(-3px); 
    }

    .form-control:focus, .form-select:focus {
      border-color: #405c1b;
      box-shadow: 0 0 0 0.25rem rgba(99, 172, 149, 0.562);
    }
    .upload-zone {
      border: 5px dashed #00403A;
      border-radius: 0.75rem;
      background-color: #badd8c;
      transition: border-color 0.2s ease;
    }
    .upload-zone:hover {
      border-color: #73d1b4;
    }

    .form-label{
      border: #00403A;
    }

    .form-select{
      color: #2d6a4f;
    }



    /* Borde punteado para la zona de subir archivo */
.border-dashed {
  border-style: dashed;
}

.custom-dropzone {
  transition: all 0.4s ease;
}

.custom-dropzone:hover {
  background-color: #f1f5f9;
  border-color: #1b4332;
}

.form-control:focus, .form-select:focus {
  background-color: #ffffff;
  box-shadow: 0 0 0 0.25rem rgba(27, 67, 50, 0.15);
  border: 1px solid #1b4332;
}




/* Cambia el borde de todos los campos del formulario */
#customOrderForm .form-control, 
#customOrderForm .form-select,
#customOrderForm .input-group-text {
  border: 1px solid #228f7d; /* Color de borde personalizado */
}

/* Borde más marcado cuando se selecciona el campo */
#customOrderForm .form-control:focus, 
#customOrderForm .form-select:focus {
  border-color: #A4F002;
  box-shadow: 0 0 0 0.2rem #a5f00285;
}


   







