a, p, li, h1{
    font-family:"Open sans", sans-serif;
}

.diseño-de-navbar{
    background-color: #c9e18a;
}

li{
    color: #004434;
}

body{
    background-color:#f8f4e6;
}

.logo_rewear{
    width: 80px;
}