a, p, li, h1{
    font-family:"Open sans", sans-serif;
}

.diseño-de-navbar{
    background-color: #c9e18a;
}

li{
    color: #004434;
}

.logo_rewear{
    width: 80px;
}





.footer-color{
    background-color: #e7f5c3;
}