a, p, li, h1{
    font-family:"Open sans", sans-serif;
}

.diseño-de-navbar{
    background-color: #e7f5c3;
}

li{
    color: #004434;
}

.circle-icon-wrapper {
    width: 130px;
    height: 130px;
    background-color: #f2fba3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1a2c06; 
}

.section-subtitle {
    font-size: 1.8rem;
    color: #000000;
}

.section-text {
    font-family:"Open sans", sans-serif;
    font-size: 1.05rem;
    line-height: 1.5;
    color: #121212;
    text-align: justify;
    text-align-last: center;
}

.footer-color{
    background-color: #e7f5c3;
}