* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif; 
}

body {
    background-color: #f7faf9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #f0f7f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    border-bottom: 1px solid #e0ede7;
}

p{
    font-family:"Open sans", sans-serif;
}






.logo-circulo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-texto {
    font-size: 1.3rem;
    color: #4a7c64;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    gap: 30px;
}

.nav-menu a {
    text-decoration: none;
    color: #4a7c64; 
    font-size: 1rem;
    font-weight: 500;
}

.nav-menu a.active {
    font-weight: bold;
    padding-bottom: 3px;
}

.search-icono {
    font-size: 1.2rem;
    color: #555;
    cursor: pointer;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 40px;
}

.container {
    max-width: 1100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icono-circulo {
    width: 150px;  
    height: 150px;
    background-color: #bbf2e3; 
    border-radius: 50%;
    margin-bottom: 25px;
    background-size: 65%; 
    background-repeat: no-repeat;
    background-position: center;
}

.mision-icono {
    background-image: url('needle.png'); 
}

.vision-icono {
    background-image: url('button.png'); 
    background-size: 55%; 
}

.objectivo-icono {
    background-image: url('hanger.png'); 
}

.texto-bloque {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.texto-bloque h2 {
    font-size: 1.6rem;
    color: #111;
    font-weight: 700;
}

.texto-bloque p {
    font-size: 1rem;
    color: #444;
    line-height: 1.4;
}


.footer {
    background-color: #63b39d;
    padding: 20px 0;
    margin-top: auto;
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
}

.footer-logo {
    color: white;
    font-size: 1rem;
}