body{
   background-color: #ffffff;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.header {
    background-color: #f0f7f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    border-bottom: 1px solid #e0ede7;
}

.logo-circulo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-texto {
    font-size: 1.3rem;
    color: #4a7c64;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    gap: 30px;
}

.nav-menu a {
    text-decoration: none;
    color: #4a7c64; 
    font-size: 1rem;
    font-weight: 500;
}

.nav-menu a.active {
    padding-bottom: 3px;
}

.search-icono {
    font-size: 1.2rem;
    color: #555;
    cursor: pointer;
}

#Inicio{
    text-align: center;
    font-size: 50px;
}

#pagbienvenida_boton{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px;
    
}

#bienvenida_boton{
    background-color: #295a2c;
    border: #295a2c;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: white;
    width: 250px;
    height: 90px;
    font-size: 25px;
    
}

.container {
    max-width: 1100px;
    width: 100%;
    text-align: center;
}

.container {
    max-width: 1100px;
    width: 100%;
    text-align: center;
}

.step-card {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon-circle {
    width: 130px;
    height: 130px;
    background-color: #ccebc5; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.icon-circle img {
    width: 65px;
    height: 65px;
    object-fit: contain;
}

.step-card p {
    font-size: 0.95rem;
    color: #333333;
    line-height: 1.4;
    max-width: 240px;
}



footer{
    text-align: center;
    padding: 20px;
    background-color: #64b99e;
    color: white;
    margin-top: 40px;

}