a, p, li, h1{
    font-family:"Open sans", sans-serif;
}

.diseño-de-navbar{
    background-color: #c9e18a;
}

li{
    color: #004434;
}

.welcome-container {
    flex: 1;
}

.welcome-title {
    font-size: 2.5rem;
    color: #333333;
    letter-spacing: -0.5px;
    text-align: justify;
    text-align-last: center;
}

.welcome-text {
    font-family:"Open sans", sans-serif;
    font-size: 1.05rem;
    line-height: 1.5;
    color: #121212;
    text-align: justify;
    text-align-last: center
}

.btn-home {
    background-color: #273e16;
    font-size: 1.1rem;
    transition: background-color 0.2s ease;
    border: none;
}

.btn-home:hover {
    background-color: #1a2a0e;
}

.eco-illustration-wrapper {
    width: 100%;
}

.eco-img {
    width: 100%;
    height: auto;
}














.encabezado-bienvenida{
    color: #05492d;
}

.color-contenedor{
    background-color: #fff3b0;
}

h3{
    color: rgb(21, 22, 22);
}

.texto-inicial{
    color: rgb(21, 22, 22);
}

#pagbienvenida_boton{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#bienvenida_boton{
    background-color: #295a2c;
    border: #295a2c;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: white;
    width: 390px;
    height: 60px;
    font-size: 25px;
}

.footer-color{
    background-color: #e7f5c3;
}