a, p, li, h1{
    font-family:"Open sans", sans-serif;
}

.diseño-de-navbar{
    background-color: #c9e18a;
}

li{
    color: #004434;
}

.logo_rewear{
    width: 80px;
}

body{
    background-color:#f8f4e6;
}

.hero{
    background:#f6f1e8;
    min-height:70vh;
    display:flex;
    align-items:center;
}

.hero h1{
    font-size:3rem;
}

.hero p{
    color:#555;
    max-width:450px;
}

.btn-login {
    background-color: #2a5a2d;
    color: #ffffff;
    width: 350px;
    font-size: 1rem;
    letter-spacing: 0.5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    
}

.btn-login:hover {
    background-color:#4e8048;
}


.rabbit{
    width:600px;
}

.features{
    background:#d8e8db;
    padding:30px 0;
}

.feature-box{
    display:flex;
    align-items:center;
    gap:15px;
    text-align:left;
}

.icon{
    width:70px;
    height:70px;
}

.feature-box p{
    font-size:14px;
    margin:0;
}

@media(max-width:992px){

    .hero{
        text-align:center;
    }

    .hero p{
        margin:auto;
    }

    .speech-bubble{
        position:relative;
        left:0;
        transform:none;
        margin:0 auto 20px;
    }

    .feature-box{
        flex-direction:column;
        text-align:center;
        margin-bottom:30px;
    }
}
